<div class="cart">
  <h3 class="cart__title">Cart</h3>
  <div class="cart__body">
    <div class="cart__container" *ngIf="!isBuyed; else empty">
      <div class="cart__item" *ngFor="let p of products; let i=index">
        <span class="cart__name">{{ p.name }} <br> ({{ p.size }}) </span>
        <button
          type="button"
          class="cart__btnInc"
          (click)="decr(i)">
          <span class="cart__price">-</span>
        </button>
        <span class="cart__price">{{ p.counter }} </span>
        <button
          type="button"
          class="cart__btnInc"
          (click)="inc(i)">
          <span class="cart__price">+</span>
        </button>
        <span class="cart__price">{{ p.price * p.counter}} </span>
        <button
        type="button"
        class="cart__btnCross"
        (click)="removeFromCart(i)"
        >
          <img class="cart__cross" src="assets/images/icons/crosslinearW.svg">
        </button>
      </div>
    </div>
      <button type="button" class="cart__btn" (click)="!isBuyed ? choise() : toHome()">{{btnName}} {{ sum | currency}}</button>
    </div>

</div>

<ng-template #empty>
  <p class="cartEmpty">{{ cartMessage }}</p>
</ng-template>

