<header class="header">
  <button (click)="toggle()" class="header__mobile">
    <span class="header__mobile-icon"></span>
  </button>
  <div *ngIf="condition" class="header__mobile-nav">
    <ul class="header__nav">
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="./home">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="./menu">Menu</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="./promo">Promo</a>
      </li>
      <li class="header__nav-item">
          <button class="header__btns-sign">
            SIGN IN
          </button>
      </li>
    </ul>
  </div>
  <img src="assets/images/icons/Logo.svg" alt="Pizza Time" class="header__logo">
  <div class="header__nav-right">
    <ul class="header__nav">
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="./home">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="./menu">Menu</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="./promo">Promo</a>
      </li>
    </ul>
    <ul class="header__btns">
      <li class="header__btns-item">
        <button class="header__btns-search">
          <img src="assets/images/icons/Search.svg">
        </button>
      </li>
      <li class="header__btns-item">
        <button class="header__btns-cart">
          <img src="assets/images/icons/cart.svg">
        </button>
      </li>
      <li class="header__btns-item hidden">
        <button class="header__btns-sign">
          SIGN IN
        </button>
      </li>
    </ul>
  </div>
</header>
