<header class="header">
  <img src="assets/images/icons/Logo.svg" alt="Pizza Time" class="header__logo">
  <div class="header__nav-right">
    <ul class="header__nav">
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        routerLink="../">Home</a></li>
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        routerLink="./menu">Menu</a></li>
      <li class="header__nav-item">
        <a class="header__nav-link"
        routerLinkActive="active"
        routerLink="./promo">Promo</a></li>
    </ul>
    <ul class="header__btns">
      <li class="header__btns-item">
        <button class="header__btns-search">
          <img src="assets/images/icons/Search.svg">
          <!-- <a class="header__btns-search" href="#">
            <img src="assets/images/icons/Search.svg">
          </a> -->
        </button>
      </li>
      <li class="header__btns-item">
        <button class="header__btns-cart">
          <img src="assets/images/icons/cart.svg">
          <!-- <a class="header__btns-cart" href="#">
            <img src="assets/images/icons/cart.svg">
          </a> -->
        </button>
      </li>
      <li class="header__btns-item">
        <button class="header__btns-sign">
          SIGN IN
        </button>
      </li>
    </ul>
  </div>
</header>
