<div class="menu">
  <div class="menu__btns-cart"
       [ngClass]="{ 'show-btn-cart': cartBtn }"
       [attr.data-counter]="counter"
       type="button"
       (click)="open()"
  >
    <img src="assets/images/icons/cart.svg">
  </div>
  <div class="menu__title">Recommended menu</div>
    <div class="menu__body">
      <div class="menu__row">
        <div
          class="menu__column"
          *ngFor="let pizza of menuList | async">
        <app-item [pizza]="pizza" ></app-item>
        </div>
      </div>
    </div>
</div>


