<div class="menu">
  <div class="menu__title">Recommended menu</div>
    <div class="menu__body">
      <div class="menu__row">
        <div
          class="menu__column"
          *ngFor="let m of menuList | async"
        >
          <section class="menu__item">
            <div class="menu__image">
              <img [src]= "m.image">
            </div>
            <div class="menu__content">
              <div class="menu__subtitle">{{m.title}}</div>
              <div class="menu__text">{{m.description}}</div>
            </div>
            <span class="menu__price">{{m.price}}</span>
            <div class="menu__option">
              <select class="menu__select" name="select">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
              <button class="menu__btn">ADD TO CART</button>
            </div>
          </section>
        </div>
      </div>
    </div>
</div>


